CLOUD_NAME=cloud_name
CLOUD_API_KEY=cloud_api_key
CLOUD_API_SECRET=cloud_api_secret

MAP_TOKEN=map_token
MONGO_URL=mongo_url
PORT=8080

SESSION_SECRET=replace_with_a_long_random_secret

RAZORPAY_API_KEY=your_razorpay_key_id
RAZORPAY_API_SECRET=your_razorpay_key_secret
